<div class="header-mobile__bar">
    <div class="container-fluid">
        <div class="header-mobile-inner">
            <div class="logo">
                <img src="../images/logo/logo_name.png" alt="logo">
            </div>
            <button class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
</div>
<nav class="navbar-mobile">
    <div class="container-fluid">
        <ul class="navbar-mobile__list list-unstyled">
            <li class="has-sub">
                <a class="js-arrow" href="#">
                   Events Manager</a>
                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                    <li <%- slug=="event" ? 'class="active"' : '' -%>>
                        <a href="events">Event View</a>
                        <!--events are taken from the root.js-->
                    </li>
                </ul>
            </li>
            <li class="has-sub">
                <a class="js-arrow" href="#">
                    User Manager</a>
                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                    <li <%- slug=="users-view" ? 'class="active"' : '' -%>>
                        <a href="users-view">User View</a>
                    </li>
                    <li <%- slug=="add-user" ? 'class="active"' : '' -%>>
                        <a href="add-users">Add admin user</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>