<div class="logo">
    <img src="../images/logo/logo_name.png" alt="logo">
</div>
<div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar__list">
            <li>
                <a class="js-arrow" href="#">
                    </i>Events Manager</a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li <%- slug=="event" ? 'class="active"' : '' -%>>
                        <a href="events">Event View</a>
                    </li>

                </ul>
            </li>
            <li class="has-sub">
                <a class="js-arrow" href="#">
                    </i>User Manager</a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li <%- slug=="admin-users-view" ? 'class="active"' : '' -%>>
                        <a href="admin-users-view">User View</a>
                    </li>
                    <li <%- slug=="add-user" ? 'class="active"' : '' -%>>
                        <a href="add-users">Add admin user</a>
                    </li>
                </ul>
            </li>
            <li class="has-sub">
                <a class="js-arrow" href="#">
                    </i>Hospitals List Manager</a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li <%- slug=="add-hospitals" ? 'class="active"' : '' -%>>
                        <a href="add-hospitals">Add/View Hospitals</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>