* {
    box-sizing: border-box
}


/* Set height of body and the document to 100% */

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}


/* Style tab links */

.tablink {
    background-color: rgb(192, 192, 192);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.tablink:hover {
    background-color: rgb(105, 105, 105);
    color: white;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: rgb(26, 15, 15);
    display: none;
    padding: 80px 50px;
    height: 100%;
}

#Home {
    background-color: white;
}

#News {
    background-color: whitesmoke;
}

input[type=text],
select,
textarea {
    width: 100%;
    /* padding: 12px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.btn {
    position: relative;
}

.btn-overlay {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.5;
    transition: opacity .5s;
}


/* Model */

.modal-dialog {
    width: 100%;
    padding-left: 45px;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
}

.loader {
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
}

.loader:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 50%;
    opacity: 0;
    animation: popin 1.5s linear infinite 0s;
}

.loader:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 50%;
    opacity: 0;
    animation: popin 1.5s linear infinite 0.5s;
}

@keyframes popin {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    1% {
        opacity: 0.1;
        transform: scale(0);
    }
    99% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.input-icon {
    position: absolute fixed;
    left: 3px;
    top: calc(50% - 0.5em);
    /* Keep icon in center of input, regardless of the input height */
}

input {
    padding-left: 40px;
}

.input-wrapper {
    position: relative;
}