<!DOCTYPE html>

<html class="no-js" lang="en">
   <head>
      <!-- Required meta tags-->
      <meta charset="UTF-8" />

      <meta
         name="viewport"
         content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />

      <!-- Title Page-->
      <title>SmartDonor Services</title>
      <link rel="icon" href="../images/logo/logo.png" type="image/x-icon" />

      <!-- Fontfaces CSS-->
      <link href="../css/font-face.css" rel="stylesheet" media="all" />
      <link
         href="../vendor/font-awesome-4.7/css/font-awesome.min.css"
         rel="stylesheet"
         media="all"
      />
      <link
         href="../vendor/font-awesome-5/css/fontawesome-all.min.css"
         rel="stylesheet"
         media="all"
      />
      <link
         href="../vendor/mdi-font/css/material-design-iconic-font.min.css"
         rel="stylesheet"
         media="all"
      />

      <!-- Bootstrap CSS-->
      <link
         href="../vendor/bootstrap-4.1/bootstrap.min.css"
         rel="stylesheet"
         media="all"
      />

      <!-- Vendor CSS-->
      <link
         href="../vendor/animsition/animsition.min.css"
         rel="stylesheet"
         media="all"
      />
      <link
         href="../vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css"
         rel="stylesheet"
         media="all"
      />
      <link href="../vendor/wow/animate.css" rel="stylesheet" media="all" />
      <link
         href="../vendor/css-hamburgers/hamburgers.min.css"
         rel="stylesheet"
         media="all"
      />
      <link href="../vendor/slick/slick.css" rel="stylesheet" media="all" />
      <link
         href="../vendor/select2/select2.min.css"
         rel="stylesheet"
         media="all"
      />
      <link
         href="../vendor/perfect-scrollbar/perfect-scrollbar.css"
         rel="stylesheet"
         media="all"
      />

      <!-- Main CSS-->
      <link href="../css/theme.css" rel="stylesheet" media="all" />
      <link href="../css/style.css" rel="stylesheet" media="all" />
   </head>

   <body>
      <!-- preloader area start -->
      <div id="preloader">
         <div class="loader"></div>
      </div>
      <!-- <div class="spinner-border text-dark" id="preloader" role="status">
        <span class="sr-only loader">Loading...</span>
    </div> -->

      <div class="page-wrapper">
         <div class="page-content--bge5">
            <div class="container col-12 col-sm-12">
               <div class="login-wrap">
                  <div class="login-content">
                     <div class="login-logo">
                        <img src="../images/logo/logo_name.png" alt="logo" />
                     </div>
                     <div class="login-form">
                        <form id="formSignIn">
                           <div class="form-group">
                              <label for="txtEmail">Email Address</label>
                              <input
                                 class="au-input au-input--full"
                                 type="email"
                                 name="txtEmail"
                                 id="txtEmail"
                                 placeholder="Email"
                              />
                           </div>
                           <div class="form-group">
                              <label>Password</label>
                              <input
                                 type="password"
                                 name="txtPassword"
                                 id="txtPassword"
                                 class="form-control au-input au-input--full"
                              />
                              <input
                                 type="checkbox"
                                 toggle="#txtPassword"
                                 class="togglePassword"
                              />
                              Show Password
                              <!-- <div class="md-form md-outline input-group">

                                        <input type="password" name="txtPassword" id="txtPassword" class="form-control au-input au-input--full ">
                                        <div class="input-group-addon">
                                            <span toggle="#txtPassword" class="fa fa-fw fa-eye field-icon togglePassword"></span>
                                        </div>
                                    </div> -->
                           </div>
                           <!-- <div class="form-group">
                                    <label>Password</label>
                                    <div class="md-form md-outline input-group">
                                        <input type="password" name="pwd" id="txtPassword" class="form-control validate" required>
                                        <div class="input-group-addon">
                                            <span toggle="#txtPassword" class="fa fa-fw fa-eye field-icon togglePassword"></span>
                                        </div>
                                    </div>
                                </div> -->
                           <!-- <div class="form-group">
                                    <label for="txtPassword">Password</label>
                                    <div class=" au-input au-input--full">
                                        <input class="" type="password" id="txtPassword" name="password" placeholder="Password">
                                        <i class="fa fa-eye"></i>
                                    </div>
                                </div> -->
                           <div class="login-checkbox">
                              <div></div>
                              <label>
                                 <a href="forget-password"
                                    >Forgotten Password?</a
                                 >
                              </label>
                           </div>
                           <button
                              class="au-btn au-btn--block au-btn--green m-b-20"
                              id="btnLogin"
                              type="button"
                           >
                              Sign in
                           </button>
                           <!--stop the retrograding by changing the type submit to button-->
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Jquery JS-->
      <script src="../vendor/js/jquery-3.2.1.min.js "></script>

      <!-- Bootstrap JS-->
      <script src="../vendor/bootstrap-4.1/popper.min.js "></script>
      <script src="../vendor/bootstrap-4.1/bootstrap.min.js "></script>
      <!-- Vendor JS       -->
      <script src="../vendor/slick/slick.min.js "></script>
      <script src="../vendor/sweetalert2/sweetalert2.all.min.js"></script>
      <script src="../vendor/wow/wow.min.js "></script>
      <script src="../vendor/animsition/animsition.min.js "></script>
      <script src="../vendor/bootstrap-progressbar/bootstrap-progressbar.min.js "></script>
      <script src="../vendor/counter-up/jquery.waypoints.min.js "></script>
      <script src="../vendor/counter-up/jquery.counterup.min.js "></script>

      <script src="../vendor/circle-progress/circle-progress.min.js "></script>
      <script src="../vendor/perfect-scrollbar/perfect-scrollbar.js "></script>
      <script src="../vendor/chartjs/Chart.bundle.min.js "></script>
      <script src="../vendor/select2/select2.min.js "></script>
      <script src="../vendor/js/js.cookie.js "></script>
      <script src="../vendor/js/jquery.validate.min.js "></script>
      <script src="../vendor/js/additional-methods.min.js "></script>

      <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
      <script src="/__/firebase/7.14.5/firebase-app.js "></script>

      <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
      <script src="/__/firebase/7.14.5/firebase-analytics.js "></script>

      <!-- Add Firebase products that you want to use -->
      <script src="/__/firebase/7.14.5/firebase-auth.js "></script>
      <script src="/__/firebase/7.14.5/firebase-firestore.js "></script>

      <!-- others plugins -->
      <script src="../js/firebase-config.js "></script>

      <!-- Main JS-->
      <script src="../js/vendor-main.js "></script>
      <script src="../js/script.js "></script>
      <script src="../js/sign-in.js "></script>
      <script src="../js/back-button.js "></script>
   </body>
</html>
