<div class="modal " id="bloodBankModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header" style="padding:35px 50px;">
                <div>
                    <h4>Add Cluster Centers & Affiliated Blood Banks</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" style="padding:25px 45px;">
                <form role="form" id="formAddBloodBank">
                    <div class="form-group">
                        <label for="hospitalLongitude">Longitude</label>
                        <input type="text" class="form-control" id="hospitalLongitude" name="hospitalLongitude" placeholder="eg: 79.9182° E">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-default " data-dismiss="modal" id="btnClear"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        <button type="button" class="btn btn-success btn-default" id="btnSaveDetails">Save Details</button>
                        <!--stop the retrograding by changing the type submit to button-->
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>